.popOver {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;
    /* display: none; */
    overflow: hidden;
    position: absolute;
    /* /* right: -9999px; */
    top: 200px;
    left: 100px;
    -webkit-transform: translateZ(0);
    width: 304px;
    z-index: 70;
}

.popOverHeader {
    height: 40px;
    margin-bottom: 8px;
    position: relative;
    text-align: center;
}

.popOverHeaderTitle {
    border-bottom: 1px solid rgba(9,30,66,.13);
    box-sizing: border-box;
    color: #5e6c84;
    display: block;
    line-height: 40px;
    margin: 0 12px;
    overflow: hidden;
    padding: 0 32px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 1;
}



.popOverContent {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 12px 12px;
    max-height: 614px;
}

.searchLabels {
    margin: 4px 0 12px;
    width: 100%;
    -webkit-appearance: none;
    background-color: #fafbfc;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0 0 0 2px #dfe1e6;
    box-sizing: border-box;
    display: block;
    line-height: 20px;
    margin-bottom: 12px;
    outline: none;
    padding: 8px 12px;
    transition-duration: 85ms;
    transition-property: background-color,border-color,box-shadow;
    transition-timing-function: ease;
}

.labelSection {
    margin-top: 12px;
}

h4 {
    color: #5e6c84;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
}

.labelSection h4 {
    color: #5e6c84;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    margin-top: 16px;
}

.labelsMain {
    margin-bottom: 8px;
}

.labelCard {
    border-radius: 3px;
    cursor: pointer;
    font-weight: 700;
    margin: 0 0 4px;
    min-height: 28px;
    padding: 6px 12px;
    position: relative;
    transition: padding 85ms,margin 85ms,box-shadow 85ms
}

.labelSelected {
    position: absolute;
    right: 6px;
    top: 6px;
    color: #fff;
    font-size: 8px;
}

.popOverCloseBtn {
    color: #6b778c;
    z-index: 2;
}

.popOverGoBack {
    color: #6b778c;
    z-index: 2;
}

.createLabelColorBox {
    height: 32px;
    margin: 0 8px 8px 0;
    width: 48px;;
    border-radius: 4px;
}

.popupHeaderTitle {
    margin-bottom: 8px;
    border-bottom: 1px solid rgba(9,30,66,.13);
    box-sizing: border-box;
    color: #5e6c84;
    display: block;
    line-height: 40px;
    overflow: hidden;
    /* padding: 0 32px; */
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 1;
    text-align: center;
}

.popup {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;
    overflow: hidden;
    width: 304px;
    z-index: 2170;
    padding: 0 12px 12px;
    position: absolute;
    /* Remove transform later. */
    transform: translateX(-50%); 
}

.popUpHeaderClose {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    
}

.createBtn {
    margin-top: 12px;
    border-radius: 3px;
    padding: 6px 24px;
    background-color: #0079bf;
    border: none;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 14px;
    font-weight: 400;
    justify-content: center;
    line-height: 20px;
    text-decoration: none;
    transition-duration: 85ms;
    transition-property: background-color,border-color,box-shadow;
    transition-timing-function: ease;
    white-space: normal;
    box-sizing: border-box;
    align-items: center;
}