/** @format */

// VARS
$white: #fff;
$black: #000;
$grid-gap: 7px;
$grid-gap-2: 10px;
$main-font: Lato, sans-serif;

// UTILS

// PROPS
:root {
  --app-col: #1976d2;
}

// GENERAL
body {
  font-family: $main-font;
  font-size: 16px;
}

// BASE LAYOUT
.app {
  display: grid;
  grid-template-rows: max-content auto;
  min-height: 100vh;
  background: var(--app-col);
}

// HEADER
.app-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 0.5rem;
  .left,
  .right {
    display: grid;
    grid-gap: $grid-gap;
  }
  .left {
    grid-template-columns: repeat(3, max-content);
  }
  .center {
    text-align: center;
  }
  .right {
    justify-content: end;
    grid-template-columns: repeat(5, max-content);
  }
  .logo {
    font-style: italic;
    font-size: 1.25em;
    color: $white;
    i {
      font-style: normal;
    }
  }
  .search {
    display: flex;
    justify-content: space-between;
    min-width: 200px;
  }
}

// BOARD
.app-board {
  display: grid;
  grid-template-rows: max-content auto;
  background: rgba($white, 0.5);
  .board-header {
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding: 0.5rem;
    .left,
    .right {
      display: grid;
      grid-gap: $grid-gap;
      align-items: center;
      .btn {
        color: var(--app-col);
      }
    }
    .left {
      grid-template-columns: repeat(4, max-content);
    }
    .right {
      justify-content: end;
      grid-template-columns: repeat(2, max-content);
    }
    .title {
      font-weight: 700;
      font-size: 1.25em;
    }
  }
  .board-body {
    padding: 0 0.5rem;
    overflow-y: hidden;
    .wrap-lists {
      display: grid;
      grid-auto-columns: 272px;
      grid-auto-flow: column;
      grid-gap: $grid-gap;
      height: calc(100% - 16px);
      padding-bottom: 0.5rem;
      overflow-y: auto;
    }
    .list {
      display: grid;
      grid-auto-rows: max-content;
      grid-gap: $grid-gap-2;
      padding: 0.5rem;
      font-size: 0.875em;
      background: rgba($white, 0.5);
      border-radius: 4px;
      .list-title {
        margin: 0;
      }
      .card {
        padding: 0.5rem;
        background: $white;
        border-radius: 4px;
        box-shadow: 0 1px 0 rgba($black, 0.2);
      }
      .btn-list {
        text-decoration: none;
        color: rgba($black, 0.5);
      }
    }
  }
}
