/** @format */

.cardContainer {
  overflow-x: auto;
  margin: 0 10px 10px;
  display: flex;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
  height: 11px;
}
::-webkit-scrollbar-thumb {
  background-color: darken(rgb(192, 195, 206), 15);
  border-right: 5px solid rgb(217, 220, 223);
  border-radius: 10px;
}

.ul {
  padding: 0;
  margin: 0;
  max-height: calc(100% - 36px - 36px);
  overflow-y: auto;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
}
::-webkit-scrollbar:horizontal {
  width: 11px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(179, 182, 192);
  border-right: 5px solid rgb(217, 220, 223);
}

/* .ul > li:not(:first-child) {
  margin-bottom: 10px;
} */

/* .imageList {
  display: block;
  margin: auto;
} */
.column {
  flex: 0 0 auto;
  width: 280px;
  margin-left: 12px;
  height: calc(100% - 1rem);
}
.column > * {
  background-color: rgb(217, 220, 223);
  padding: 0 8px;
  color: #333;
}
.header {
  padding-left: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  font-weight: bold;
}
.footer {
  padding-left: 10px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.itemList {
  background-color: white;
  list-style: none;
  border-radius: 4px;
  box-shadow: 3px 3px teal;
  padding: 10px;
  margin-bottom: 10px;
}

.reItemList {
  background-color: rgb(217, 220, 223);
  list-style: none;
  border-radius: 4px;
  visibility: hidden;
  /* box-shadow: 3px 3px teal; */

  padding: 10px;
  margin-bottom: 10px;
}
