/** @format */

.cardContainer {
  overflow-x: auto;
  margin: 0 10px 10px;
  display: flex;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
  height: 11px;
}
::-webkit-scrollbar-thumb {
  background-color: darken(rgb(192, 195, 206), 15);
  border-right: 5px solid rgb(217, 220, 223);
  border-radius: 10px;
}
