/**
 * /* Josh Comeau's CSS Resets - https://www.joshwcomeau.com/css/custom-css-reset/
 *
 * @format
 */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Source+Sans+Pro:wght@400;600;700&display=swap");

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Source Sans Pro", sans-serif;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body, button, html, input, select, textarea {
  color: #172b4d;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

h3 {
  font-size: 16px;
  color: #172b4d;
  font-weight: 600px!important;
  line-height: 20px;
  min-height: 18px;
}

.button {
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-block;
  line-height: 20px;
  /* margin-bottom: 8px; */
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
}

