.backgroundFade {
    align-items: flex-start;
    background-color: #000000a3;
    height: 100%;
    justify-content: center;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}
.card {
    background-color: #f4f5f7;
    border-radius: 2px;
    margin: 48px auto 80px auto;
    overflow: hidden;
    position: absolute;
    top: 10px;
    left:50%;
    width: 768px;
    z-index: 10;
    min-height: 600px;
    transform: translateX(-50%);
    /* padding: 18px */
}

.cardHeader{
    display: flex;
    justify-content: space-between;
    gap:15px
}

.cardClose {
    position: absolute;
    top: 20px;
    right: 20px;
}


.singleCardTextarea {
    background: #0000;
    border-radius: 3px;
    box-shadow: none;
    font-size: 20px;
    font-weight: 600;
    height: 32px;
    line-height: 24px;
    min-height: 24px;
    padding: 4px 8px;
    resize: none;
    margin: -4px -8px;
    border: 0px;
}

.singleCardTextarea:focus {
    background-color: #fff;
    box-shadow: inset 0 0 0 2px #0079bf
}

.isEditing {
    background-color: #fff;
    box-shadow: inset 0 0 0 2px #0079bf;
}

.singleCardInList {
    margin: 0 0 8px;
    color: #5e6c84;
}

.flexClass {
    display: flex;
    gap: 16px;
}

.buttonLink {
    width:100%;
    background-color: rgba(9,30,66,.04);
    border: none;
    border-radius: 3px;
    box-shadow: none;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 32px;
    margin-top: 8px;
    max-width: 300px;
    overflow: hidden;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    transition-duration: 85ms;
    transition-property: background-color,border-color,box-shadow;
    transition-timing-function: ease;
    user-select: none;
    white-space: nowrap;
}

.buttonLink:disabled {
    background-color: rgba(9,30,66,.04);
    border: none;
    box-shadow: none;
    color: #a5adba;
    cursor: not-allowed;
    
}

.addButtonLink {
    display:flex;
    align-items: center;
    gap:10px;
    background-color: transparent;

}

.cardBack {
    color: #97a0af;
    font-size: 12px;
    line-height: 16px;
}

.freeTrialBtn {
    background-color: #EDDBF4;
    display: inline-flex;
    border-radius: 3px;
    font-size: 12px;
    padding: 4px;
    text-decoration: none;
    line-height: 16px;
    margin-top:5px;
    margin-bottom: 0;
    border: none;
}

.descriptionBeingEdited {
    overflow: scroll;
    overflow-wrap: break-word;
    resize: none;
    min-height: 108px;
    background: #fff;
    box-shadow: none;
    width:100%;
}

.descriptionBeingEdited:focus {
    background-color: #fff;
    box-shadow: inset 0 0 0 2px #0079bf;
}

.descriptionNotBeingEdited {
    background-color: rgba(9,30,66,.04);
    border: none;
    border-radius: 3px;
    box-shadow: none;
    display: block;
    min-height: 40px;
    /* max-height: fit-content; */
    padding: 8px 12px;
    text-decoration: none;
    width:100%;
}

.saveButton {
    background-color: #0079bf;
    border: none;
    box-shadow: none;
    color: #fff;
    border-radius: 3px;
    padding: 6px 12px;
}

.singleCardCover {
    background-size: initial;
    background-origin: content-box;
    box-sizing: border-box;
    background-position: left center;
    height: 116px;
    min-height: 116px;
    padding: 0px;
    width: 100%;
}

.singleCardLabelColorBox {
    border-radius: 3px;
    box-sizing: border-box;
    display: block;
    float: left;
    font-weight: 600;
    height: 32px;
    line-height: 32px;
    margin: 0 4px 4px 0;
    min-width: 40px;
    padding: 0 12px;
    width: auto;
}

.headerThree {
    color: #5e6c84;
    display: block;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    line-height: 20px;
    margin: 0 8px 4px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}